.features__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.features__item {
    flex-basis: calc((100% - 90px) / 4);
}
.features__box {
    height: 120px;
    background-color: var(--alternative-bakcground-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 10px;
    font-weight: var(--font-weight-bold);
    font-size: var(--stnd-font-size);
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-text-color);
}

.features__text {
    line-height: 1.71;
}